/* google-font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.911);
}

.container{
    width: 1400px;
    border: 1px solid red;
    margin: 0 auto;
}

/* hearder-part */

header{
    padding-top: 20px;
    display: flex;
    justify-content:space-between;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    
}
.menu ul li{

    padding: 25px ;
    text-transform: uppercase;

}
.menu ul li a{
    font-size: 14px;
    color: rgb(228, 231, 235);
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
}

.logo h6{
    color: rgb(228, 231, 235);
    font-size: 40px;
    padding-left: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
}

.search h6{
    color: rgb(240, 239, 239);
    font-size: 16px;
    padding-right: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 20px;
}

/* hero-area */

#hero{
    background-image: url(./images/Background.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

.hero-part{
    height: 105vh;
    padding-top: 20px;
}

.hero-data{
    padding-left: 20%;
    padding-top: 140px;

}

.hero-data h5{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgb(224, 185, 9);
}

.hero-data h3{
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    
    font-weight: 600;
    color: rgb(240, 239, 239);
}

.hero-data h4{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(240, 239, 239);
}

.Scroll{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgb(240, 239, 239);
}

/* east-part */

.east-part{
    display: flex;
    margin-top: 280px;
}

.east-data{
    color: white;
    text-align: justify;
    padding: 167px 182px;
}

.east-data h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 25px;
    color: rgb(224, 185, 9);
}

.east-data h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 50px;
}


.east-data p{
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.east-data h2{
    padding-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(224, 185, 9);
}




/* Bromo-part */

.Bromo-part{
    background-image: url(./images/Content\ 2.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 280px;
    
}

.Bromo-data{
   width: 80%;
   text-align: center;
   padding: 0px 170px;
   color: rgb(224, 185, 9);
}

.Bromo-data h5{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
}
.Bromo-data h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: rgb(240, 239, 239);
    padding: 20px 0px;
}
.Bromo-data p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(240, 239, 239);
    padding-bottom: 15px;
}
.Bromo-data h2{

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(224, 185, 9);
    padding-bottom: 15px;

}

/* .explore-part */

.explore-part{
    display: flex;
    justify-content: space-between;
}

.get-start{
    display: flex;
    padding: 50px;
}

.get-start p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(240, 239, 239);
    margin-right: 80px;
}

.btn a{
    font-size: 15px;
    padding: 20px 69px;
    background-color:#eeb414;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.ex-logo h6{
    color: rgb(228, 231, 235);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 32px;
    
}

